*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav-content {
    padding: 30px;
   height: 30%;
   width: 100%;  
}

.heading {
    display: flex;
    justify-content: start; 
}

.para{
    display: flex;
    justify-content: start;
}

.sidebar {
    height: 100vh;
    width: 20%;
    /* background-color: rgb(138, 111, 163); */
    gap: 20px;
}
.blog{
    height: 25%;
    width: 100%;
    padding: 25%;
    list-style-type: none;
}
.tools{
    height: 40%;
    width: 100%;
    padding: 25%;
    list-style-type: none;

}

.trend{
    height: 40%;
    width: 80%;
    /* background: #c2b9b9; */
    
}
.content{
    display: flex;

}

.list-items{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-right: 4%;
}
